body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}
h2,
h3 {
  font-weight: 400;
}
.content {
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
}
.grid {
  flex-basis: 270px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.row-9 {
  flex-grow: 9;
}
.row-1 {
  flex-grow: 1;
}
